.modalQuestion {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 90%;
  opacity: 1;
  color: #4b4b4b;
  font-size: clamp(17px, 4vw, 22px);
  transition: all 0.25s ease-in-out;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalQuestion[data-player-turn="1"] {
  transform: translate(-50%, -50%) rotate(180deg);
  animation: appear1 0.5s ease-in-out;
}

.modalQuestion[data-player-turn="2"] {
  animation: appear2 0.5s ease-in-out;
}

@keyframes appear1 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(180deg) scaleY(-1);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(180deg) scaleY(1);
  }
}

@keyframes appear2 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scaleY(-1);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scaleY(1);
  }
}
