.modalQuestion {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(-1);
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  opacity: 0;

  animation: appear 0.5s 0.3s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scaleY(-1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scaleY(1);
  }
}
